{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Statistiques utilisateurs{% endblock %}

{% block page_actions %}
    <a class="btn btn-primary" href="...">Exporter</a>
{% endblock %}

{% block main %}
    <head>
        {# {{ encore_entry_link_tags('app') }} #}
        {{ encore_entry_script_tags('app') }}
    </head>
    
    <div class="container">
        <div class="row">
            <div class="col-10">
                {{ render_chart(chart) }}
            </div>
        </div>
    </div>

{% endblock %}