<div class="mb-3" id="formatVideo">
    <label for="" class="form-label fs-5">Fichier vidéo</label>
    <input type="file" accept="video/*" class="form-control">
    <p class="text-muted">
        Le fichier doit être au format MP4 et sa taille est limitée à 5 Mo.
    </p>
</div>

<div class="mb-3" id="formatCourse">
    <label for="" class="form-label fs-5">Fichier PDF du cours</label>
    <input type="file" class="form-control" accept="application/pdf">
    <p class="text-muted">
        Le fichier doit être au format PDF et sa taille est limitée à 5 Mo.
    </p>
</div>

<div class="mb-3" id="formatArticle">
    <label for="" class="form-label fs-5">Contenu de l'article</label>
    <textarea cols="30" rows="10" class="form-control"></textarea>
</div>

<div class="mb-3" id="formatActivity">
    <label for="" class="form-label fs-5">Règle du jeu</label>
    <textarea cols="30" rows="10" class="form-control"></textarea>
    <p class="text-muted">
        Veuillez fournir une explication détaillée du concept du jeu, les rôles des utilisateurs ainsi que les règles de participation.
    </p>
</div>

<div class="mb-3" id="formatChallenge">
    <label for="" class="form-label fs-5">Quel est le défi à relever ?</label>
    <textarea class="form-control" maxlength="50" placeholder="24h sans son portable ?"></textarea>
</div>

<div class="mb-3" id="formatOnlineGame fs-5">
    <label for="" class="form-label">Lien vers le jeu</label>
    <textarea cols="10" rows="10" class="form-control" maxlength="50" placeholder="https://..."></textarea>
</div>