<div class="row d-none" id="resource-template">
    <div class="col-7 alert alert-light mx-auto my-3">
        <div class="row header-ressource">
            <div class="col">
                {# {% if ressource.active == 0 %}
                    <p class="m-0 fw-light fst-italic">Non publiée</p>
                {% endif %} #}
                <div class="row mb-2">
                    <div class="col">
                        <p class="btn category m-0"></p>
                    </div>

                    <div class="col text-end">
                        <p class="link"></p>
                    </div>
                </div>
                
                <h3 class="title"></h3>
            </div>
        </div>
        <div class="row body-ressource">
            <div class="col">
                <hr>
                <div class="row">
                {# 
                    {% if ressource.format.id == 1 %}
                        {% for file in ressource.files %}
                            <video controls width="250">
                                <source src="{{asset('uploads/'~ressource.id~'/'~file.name)}}"/>
                            </video>
                        {% endfor %}
                    {% elseif ressource.format.id == 2 %}
                    {% elseif ressource.format.id == 3 %}
                        {{ressource.content}}
                    {% elseif ressource.format.id == 4 %}
                    {% elseif ressource.format.id == 5 %}
                        {{ressource.content}}
                    {% elseif ressource.format.id == 6 %}
                    {% endif %} 
                    #}
                </div>
            </div>
        </div>
        <div class="row footer-ressource">
            <div class="col">
                <hr>
                <div class="row">
                    <div class="col">0 like</div>
                    <div class="col text-end">0 commentaire</div>
                </div>
            </div>
        </div>
    </div>
</div>