.privatechat-container{
    nav.privatechat-nav{
        z-index: -1;
        background-color: transparent;
        box-shadow: none;
        padding: 3% 0;

        .nav-item{
            color: $text-color;
            margin: 2% 0;
            margin-left: 4%;
            padding: 1% 3%;
            border:  1px solid $border-color-light-2;
            border-radius: 8px;
            .unread{
                font-size: 0.8em;
                font-style: italic;
                color: $border-color-light-2;
            }
        }
    }
    
    .separator {
        border-right: 1px solid $border-color-light-2;
        height: 70vh;
        width: 1px;
        align-self: center;
    }

    .chat-window{
        margin: 0 3%;
        padding: 3% 0;
        position: relative;
        height: calc(80vh - 56px);
        overflow-y: auto;

        .message {
            padding: 10px;
            margin-bottom: 10px;
            width: 70%; 

            .message-time{
                font-size: 0.8em;
            }
        }
        
        .received {
            background-color: #f0f0f0;
            border-radius: 10px 10px 10px 0;
        }
        
        .sent {
            background-color: $color-primary;
            border-radius: 10px 10px 0 10px;
            color: #fff;
            text-align: right;
            margin-left: auto;
        }
        
        .input-area {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 10px;
            background-color: #f9f9f9;
            margin-bottom: 2%;

            button{
                background-color: $color-primary;
                color: white;
                margin-left: 1%;
            }
        }
        
    }
}