<footer>
    <div class="items">
        <div>
            <h3>Liens utiles</h2>
            <ul>
                <li><a href="">Accessibilité</a></li>
                <li><a href="">Mentions légales</a></li>
                <li><a href="">Données personnelles</a></li>
                <li><a href="">Contactez-nous</a></li>
            </ul>
        </div>
        <div>
            <h3>Nos sites</h2>
            <ul>
                <li><a href=""><i class="bi bi-arrow-up-left"></i> gouvernement.fr</a></li>
                <li><a href=""><i class="bi bi-arrow-up-left"></i> data.gouv.fr</a></li>
                <li><a href=""><i class="bi bi-arrow-up-left"></i> service-public.fr</a></li>
                <li><a href=""><i class="bi bi-arrow-up-left"></i> legifrance.gouv.fr</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div></div>
</footer>