{% extends 'index.html.twig' %}

{% block title %}Desactiver le compte{% endblock %}

{% block container %}
    <div class="setting" data-controller="user--updateUser" >
        <div class="nav-bar">
            <a href="#">Informations personnelles</a><hr>
            <a href="#">Notifications</a><hr>
            <a href="#">Préférences de langue</a><hr>
            <a href="#">Paramètres de confidentialité</a><hr>
            <a href="#">Historique d'activité</a><hr>
            <a href="#">Sécurité du compte</a><hr>

            <a href="#">Paramètres de recherche</a><hr>
            <a href="#">Paramètres de publication</a><hr>
            <a href="#">Préférences de contenu</a><hr>
            <a href="#">Paramètres de messagerie</a><hr>
            <a href="#">Gestion des amis ou des contacts</a><hr>
        </div>
        <div class="section">
            <div class="form-container">
                <form id="verifEmailForm" onsubmit="submitEmailForm(event)">
                    <label for="emailInput">Entrez votre email :</label>
                    <input type="email" id="emailInput" name="email" placeholder="e-mail">
                    <button type="submit">Valider</button>
                </form>
            </div>
            <div class="form-container" id="verifCodeReinitForm" style="display:none;">   
                <form id="codeReinitForm" onsubmit="submitCodeReinitForm(event)">
                    <label for="codeInput1">Entrez le code reçu par email :</label>
                    <div class="code-container">
                        <input class="code" type="text" id="codeInput1" name="code1" placeholder="0">
                        <input class="code" type="text" id="codeInput2" name="code2" placeholder="1">
                        <input class="code" type="text" id="codeInput3" name="code3" placeholder="2">
                        <input class="code" type="text" id="codeInput4" name="code4" placeholder="3">
                        <input class="code" type="text" id="codeInput5" name="code5" placeholder="4">
                        <input class="code" type="text" id="codeInput6" name="code6" placeholder="5">
                    </div>
                    <div class="button-container">
                        <button type="submit">Valider</button>
                    </div>
                </form>
            </div>
            <div class="form-container" id="newPasswordForm" style="display:none;">   
                <form id="newPasswordForm" method="post" action="{{ path('password_changed', {'userId': app.user.id}) }}">
                    <label for="passwordInput">Changez votre mot de passe :</label>
                    <input type="password" id="passwordInput" name="new_password" placeholder="mot de passe">
                    <button type="submit">Valider</button>
                    <button type="button" onclick="window.location.href = '{{ path('app_user') }}'">Annuler</button>
                </form>
            </div>
            <script>
                function submitEmailForm(event) {
                    event.preventDefault(); 
                    
                    const email = document.getElementById('emailInput').value;

                    fetch('{{ path('email_verified', {'userId': app.user.id}) }}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: new URLSearchParams({
                            'email': email
                        })
                    })
                    .then(response => response.json())
                        .then(data => {
                        if (response.ok) {
                            alert('ok')
                            document.getElementById('verifEmailForm').style.display = 'none';
                            document.getElementById('verifCodeReinitForm').style.display = 'block';
                        } else {
                            alert('Le mail est incorrect.');
                        }
                    })
                    .catch(error => {
                        console.error('Erreur lors de la vérification de l\'email :', error);
                    });
                }

                function submitCodeReinitForm(event) {
                    event.preventDefault(); 

                    const code1 = document.getElementById('codeInput1').value;
                    const code2 = document.getElementById('codeInput2').value;
                    const code3 = document.getElementById('codeInput3').value;
                    const code4 = document.getElementById('codeInput4').value;
                    const code5 = document.getElementById('codeInput5').value;
                    const code6 = document.getElementById('codeInput6').value;

                    const codeReinit = code1 + code2 + code3 + code4 + code5 + code6;

                    fetch('{{ path('codeReinit_verified', {'userId': app.user.id}) }}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: new URLSearchParams({
                            'codeReinit': codeReinit
                        })
                    })
                    .then(response => {
                        if (response.ok) {
                            document.getElementById('verifCodeReinitForm').style.display = 'none';
                            document.getElementById('newPasswordForm').style.display = 'block';
                        } else {
                            alert('Le mail est incorrect.');
                        }
                    })
                    .catch(error => {
                        console.error('Erreur lors de la vérification de l\'email :', error);
                    });                }
            </script>
        </div>
    </div>
{% endblock %}