{% extends 'index.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block container %}

 <div class="container-fluid privatechat-container">
    <div class="row">

      <nav class="col-md-3 sidebar privatechat-nav">
        <div class="sidebar-sticky">
          <ul class="nav flex-column conversation-list">
            <li class="nav-item">
                <div class="d-flex justify-content-between">
                    <p class="fw-bold">Utilisateur</p>
                    <span class="unread">Non lu</span>
                </div>
                <span class="last-message">Extrait du dernier message</span>
            </li>
            <li class="nav-item">
                <div class="d-flex justify-content-between">
                    <p class="fw-bold">Utilisateur</p>
                    <span class="unread"></span>
                </div>
                <span class="last-message">Extrait du dernier message</span>
            </li>
          </ul>
        </div>
      </nav>

      <div class="col-md-1 separator"></div>

    <main role="main" class="col-md-8 ml-sm-auto col-lg-8">
        <div class="chat-window">
            <div class="messages">

                <div class="message received">
                    <p>Message reçu</p>
                    <span class="message-time">Date du message</span>
                </div>

                <div class="message sent">
                    <p>Message envoyé</p>
                    <span class="message-time">Date du message</span>
                </div>
            </div>

            <div class="input-area d-flex">
                <input type="text" class="form-control" placeholder="Votre message...">
                <button class="btn">Envoyer</button>
            </div>
        </div>
    </main>


    </div>
</div>

{% endblock %}